<main class="biografia">
    <section class="main__biografia wrapper__biografia">
        <h1 class="biografia__title">Biografía</h1>
        <div class="biografia__aboutus">
            <h2>Quién somos</h2>
            <p>Las Retamas es un grupo formado en el verano de 2019. Nosotros decimos que es música para gente asmática, somos el reflejo de una generación desquiciada y autodestructiva y nuestras letras son puro autoengaño. </p>
            <p>El indie pop ha sido lo que nos ha caracterizado hasta la llegada de Entrebosques, que lo ha cambiado todo y nos ha llevado a una deriva más <i>shoegazer</i> que se explorará en los próximos lanzamientos.</p>
        </div>
        <div class="biografia__lanzamientos">
            <h2>Próximos lanzamientos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda aliquam, eligendi odit nihil suscipit animi, nam, placeat amet consequatur exercitationem ab? Rem porro expedita quia esse. Tempore iste dicta quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium quam excepturi? Repellat repellendus mollitia blanditiis harum, quis architecto unde fugiat ex. Perferendis dignissimos provident quis accusamus? Ullam, necessitatibus non.lorem</p>
        </div>
        <div class="biografia__mas">
            <h2>Más</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda aliquam, eligendi odit nihil suscipit animi, nam, placeat amet consequatur exercitationem ab? Rem porro expedita quia esse. Tempore iste dicta quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium quam excepturi? Repellat repellendus mollitia blanditiis harum, quis architecto unde fugiat ex. Perferendis dignissimos provident quis accusamus? Ullam, necessitatibus non.lorem</p>
        </div>
    </section>
</main>