<footer class="footer wrapper__footer">
    <div class="footer__navs">
        <nav class="footer__ssmm">
            <ul class="ssmm">
                <li>
                    <i class="fab fa-instagram"></i>
                    <a href="#instagram">instagram</a>
                </li>
                <li>
                    <i class="fab fa-twitter"></i>
                    <a href="#twitter">twitter</a>
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="#correo">correo</a>
                </li>
            </ul>
        </nav>
        <nav class="footer__menu">
            <ul class="nav">
                <li class="menu">
                    <a href="#noticias">noticias</a>
                </li>
                <li class="menu">
                    <a href="#multimedia">multimedia</a>
                </li>
                <li class="menu">
                    <a href="#noticias">contacto</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="footer__copyright">
        <p>copyright © las retamas</p>
    </div>
</footer>