<header class="header">
    <div class="header__logo wrapper__header">
        <p>las retamas</p>
    </div>
    <div class="header__menu wrapper__header">
        <nav class="nav">
            <ul class="header__nav">
                <li class="menu">
                    <a href="#noticias">noticias</a>
                </li>
                <li class="menu">
                    <a href="#multimedia">multimedia</a>
                </li>
                <li class="menu">
                    <a href="#noticias">contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>