<header class="header">
    <div class="header__logo wrapper__header">
        <a href="index.html">
            <p>las retamas</p>
        </a>
        
    </div>
    <div class="header__menu wrapper__header">
        <nav class="nav">
            <ul class="header__nav">
                <li class="menu">
                    <a href="./biografia.html">biografía</a>
                </li>
                <li class="menu">
                    <a href="./multimedia.html">multimedia</a>
                </li>
                <li class="menu">
                    <a href="./contact.html">contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>