<main class="main wrapper__main">
    <section class="main__spotify">
        SPOTIFY
    </section>
    <section class="main__aboutus">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, consequuntur. Labore quod voluptatibus ratione nihil esse, itaque, fugit ullam sit odit minima at commodi asperiores sapiente aliquam magnam consectetur quo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic officiis nostrum debitis eveniet, odit id aliquam eum? Neque consequuntur reprehenderit animi impedit placeat doloremque voluptatem minima, eligendi labore soluta quasi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero similique adipisci impedit corporis dolor ratione doloremque ipsa sequi, natus sit quas cupiditate, minima debitis animi voluptatibus reprehenderit error iusto est!
        </p>
    </section>
    <section class="main__images">
        <div class="image__one">foto1</div>
        <div class="image__two">foto2</div>
        <div class="image__three">foto3</div>
        <div class="image__four">foto4</div>
        <div class="image__five">foto5</div>
        <div class="image__six">foto6</div>
        <div class="image__seven">foto7</div>
    </section>
    <section class="main__discs">
        <div class="disc1"></div>
        <div class="disc2"></div>
        <div class="disc3"></div>
    </section>
</main>