<main class="multimedia">
    <h1 class="multimedia__title">Multimedia</h1>
    <section class="main__multimedia wrapper__multimedia">
        <div class="multimedia__disc1">
            <div class="disc__info">
                <div class="img__disc1"></div>
                <div class="disc__description">
                    <h2>Amores de verano</h2>
                    <p>Amores de verano fue el primer EP de Las Retamas, lanzado el 25 de agosto de 2019. Cuatro canciones muy pop sin pretensiones. Positividad melancólica por un tubo, el último verano, las discusiones que nunca se terminaron y los mensajes que no nos mandamos.</p>
                </div>
            </div>
            <div class="media__disc1">
                <div class="spotify">
                    <iframe class="spotify__disc1" src="https://open.spotify.com/embed?uri=spotify:album:7mqa6Wjh9cqtiHMpB7LdLh" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="youtube">
                    <iframe class="paseo-lidl" src="https://www.youtube.com/embed/dlnmA8dGFic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="multimedia__disc2">
            <div class="disc__info">
                <div class="img__disc2"></div>
                <div class="disc__description">
                    <h2>Año nuestro</h2>
                    <p>Año nuestro es el segundo EP de Las Retamas y salió en el estallido de la pandemia. Se compone de otras cuatro canciones que siguen la línea del primero. Mantiene la positividad melancólica de Amores de Verano y prueba sonidos synth pop.</p>
                </div>
            </div>
            <div class="media__disc2">
                <div class="spotify">
                    <iframe class="spotify__disc2" src="https://open.spotify.com/embed?uri=spotify:album:1b6s2CTvLFX8TZnUVN9aPe" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <div class="multimedia__disc3">
            <div class="disc__info">
                <div class="img__disc3"></div>
                <div class="disc__description">
                    <h2>Septiembre</h2>
                    <p>Septiembre salió como single el 6 de marzo de 2020 y es una revisión mas punk del tema original de Luna Ki. Una deriva noise y guitarrera. </p>
                </div>
            </div>
            <div class="media__disc3">
                <div class="spotify">
                    <iframe class="spotify__disc3" src="https://open.spotify.com/embed?uri=spotify:album:0hJ1UA8h5wULE7RLxePobl" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <div class="multimedia__disc4">
            <div class="disc__info">
                <div class="img__disc4"></div>
                <div class="disc__description">
                    <h2>Entrebosques</h2>
                    <p>Entrebosques es el segundo single de Las Retamas, lanzado en medio de la pandemia el 9 de abril de 2020. Es un tema sobre el autoengaño, comer techo y pensar que todo va genial aunque mejor podría estar. Un tema mas planetario y oscuro a todo lo anterior.</p>
                </div>
            </div>
            <div class="media__disc4">
                <div class="spotify">
                    <iframe class="spotify__disc4" src="https://open.spotify.com/embed?uri=spotify:album:1CJUsm42ervj0Bcva1UMTi" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="youtube">
                    <iframe class="entrebosques" src="https://www.youtube.com/embed/CGkyjOSdczk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
</main>