<main class="multimedia">
    <section class="main__multimedia wrapper__multimedia">
        <h1 class="multimedia__title">Multimedia</h1>
        <div class="multimedia__disc1">
            <div class="disc__info">
                <div class="img__disc1"></div>
                <div class="disc__description">
                    <h2>Amores de verano</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est atque recusandae, sit similique voluptatibus ullam saepe. Laudantium vero nulla dolores quisquam quia facere itaque, ex voluptatem blanditiis laborum ratione?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi molestiae, consequatur placeat neque quas consectetur doloribus tenetur illum ad est autem optio non praesentium aliquam labore, sequi repellendus inventore quam.</p>
                </div>
            </div>
            <div class="media__disc1">
                <div class="spotify">
                    <iframe class="spotify__disc1" src="https://open.spotify.com/embed?uri=spotify:album:7mqa6Wjh9cqtiHMpB7LdLh" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="youtube">
                    <iframe class="paseo-lidl" src="https://www.youtube.com/embed/dlnmA8dGFic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="multimedia__disc2">
            <div class="disc__info">
                <div class="img__disc2"></div>
                <div class="disc__description">
                    <h2>Año nuestro</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est atque recusandae, sit similique voluptatibus ullam saepe. Laudantium vero nulla dolores quisquam quia facere itaque, ex voluptatem blanditiis laborum ratione?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi molestiae, consequatur placeat neque quas consectetur doloribus tenetur illum ad est autem optio non praesentium aliquam labore, sequi repellendus inventore quam.</p>
                </div>
            </div>
            <div class="media__disc2">
                <div class="spotify">
                    <iframe class="spotify__disc2" src="https://open.spotify.com/embed?uri=spotify:album:1b6s2CTvLFX8TZnUVN9aPe" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <div class="multimedia__disc3">
            <div class="disc__info">
                <div class="img__disc3"></div>
                <div class="disc__description">
                    <h2>Septiembre</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est atque recusandae, sit similique voluptatibus ullam saepe. Laudantium vero nulla dolores quisquam quia facere itaque, ex voluptatem blanditiis laborum ratione?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi molestiae, consequatur placeat neque quas consectetur doloribus tenetur illum ad est autem optio non praesentium aliquam labore, sequi repellendus inventore quam.</p>
                </div>
            </div>
            <div class="media__disc3">
                <div class="spotify">
                    <iframe class="spotify__disc3" src="https://open.spotify.com/embed?uri=spotify:album:0hJ1UA8h5wULE7RLxePobl" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <div class="multimedia__disc4">
            <div class="disc__info">
                <div class="img__disc4"></div>
                <div class="disc__description">
                    <h2>Entrebosques</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est atque recusandae, sit similique voluptatibus ullam saepe. Laudantium vero nulla dolores quisquam quia facere itaque, ex voluptatem blanditiis laborum ratione?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi molestiae, consequatur placeat neque quas consectetur doloribus tenetur illum ad est autem optio non praesentium aliquam labore, sequi repellendus inventore quam.</p>
                </div>
            </div>
            <div class="media__disc4">
                <div class="spotify">
                    <iframe class="spotify__disc4" src="https://open.spotify.com/embed?uri=spotify:album:1CJUsm42ervj0Bcva1UMTi" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="youtube">
                    <iframe class="entrebosques" src="https://www.youtube.com/embed/CGkyjOSdczk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
</main>