<main class="noticias">
    <section class="main__noticias wrapper__noticias">
        <h1 class="noticias__title">Noticias</h1>
        <div class="noticias__conciertos">
            <h2>Conciertos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda aliquam, eligendi odit nihil suscipit animi, nam, placeat amet consequatur exercitationem ab? Rem porro expedita quia esse. Tempore iste dicta quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium quam excepturi? Repellat repellendus mollitia blanditiis harum, quis architecto unde fugiat ex. Perferendis dignissimos provident quis accusamus? Ullam, necessitatibus non.lorem</p>
        </div>
        <div class="noticias__lanzamientos">
            <h2>Próximos lanzamientos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda aliquam, eligendi odit nihil suscipit animi, nam, placeat amet consequatur exercitationem ab? Rem porro expedita quia esse. Tempore iste dicta quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium quam excepturi? Repellat repellendus mollitia blanditiis harum, quis architecto unde fugiat ex. Perferendis dignissimos provident quis accusamus? Ullam, necessitatibus non.lorem</p>
        </div>
        <div class="noticias__mas">
            <h2>Más</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda aliquam, eligendi odit nihil suscipit animi, nam, placeat amet consequatur exercitationem ab? Rem porro expedita quia esse. Tempore iste dicta quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium quam excepturi? Repellat repellendus mollitia blanditiis harum, quis architecto unde fugiat ex. Perferendis dignissimos provident quis accusamus? Ullam, necessitatibus non.lorem</p>
        </div>
    </section>
</main>