.wrapper__header{
    padding: 0 15px;
    width: 100%;
    @media all and (min-width: 1440px){
        padding: 0 150px;
    }
}
.header{
    background-color: $color-dark;
    color: $color-light;
    font-family: $font-title;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 80px;
    @media all and (min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo{
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 30px;
        @media all and (min-width: 768px){
            font-size: 20px;
            height: 100%;
        }
        a{
            color: $color-light;
            width: 100%;
            p{
                width: 100%;
                text-align: center;
                @media all and (min-width: 768px){
                    text-align: left;
                    font-size: 36px;
                }
            }
        }
        
    }
    .header__menu{
        height: 100%;
        .nav{
            height: 100%;
            .header__nav{
                height: 100%;
                list-style: none;
                font-size: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media all and (min-width: 768px){
                    font-size: 18px;
                }
                @media all and (min-width: 1024px){
                    font-size: 22px;
                }
                .menu{
                    a{
                        color: $color-light;
                        //margin-right: 28px;
                    }
                }
            }
        }
    }
}